
    <div class="row align-items-center h-100">
        <div class="col-8 mx-auto">
            <div class="jumbotron text-center">
            <h1> Memos Tonight </h1>
            <br>
              <%= form_tag(contacts_path, method: :get) do %>
              <%= text_field_tag :term %>
              <%= submit_tag 'Search' %>
              <% end %>
              <br>
              <br>
              <br>
              
            </div>
        </div>
          </div>




     
       

