$gray-medium-light: #eaeaea;
$gray-light: #c7c9cc;
$gray: #9f9fa0;
$gray-darker: #5d5d5e;
$blue:#2e45f4;
$blue-darker:#010842;

body,html {
  height: 90%;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}


 
footer {
  height: 10%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  background-color: #FFF;
  color: $gray-light;
  a {
    float:right;
    padding: 10px 5px 0px 5px;
    color: $blue;
    &:hover {
      color: $blue-darker;
     background-color: transparent;
    }
  }
  small {
    float: left;
      padding: 30px 0;
  }
  ul {
    float: left;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    
    }
  
    img {
  max-width:50%;
  max-height:50%;
}
  }
  
 
}

.searchbox {
width: 25rem;
 padding: 25px 25px 25px 25px;
}

.showavatar {
  max-width: 100%;
  height: auto;
}

