$gray-medium-light: #eaeaea;
$gray-light: #c7c9cc;
$gray: #9f9fa0;
$gray-darker: #5d5d5e;
body,html {
  height: 90%;
}

footer {
  height: 10%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
      padding: 30px 0;
  }
  ul {
    float: left;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    
    }
  
    img {
  max-width:50%;
  max-height:50%;
}
  }
  
  #logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
}