
<footer class="footer">
 
  
    <%= image_tag("MemosTonight.png", class: 'logo') %>
    
 
  <small>
   <p>&copy; 2018 Memos Tonight.com</p>
            
  </small>
  
 
 <% if not user_signed_in? %>

 <%= link_to 'Registration', new_user_registration_path %>
 
 <%= link_to("Log In", new_user_session_path) %>
 <% else %>
<%= link_to("Log Out", destroy_user_session_path, method: :delete) %>
<% end %>

  </div>          
</footer>
