
<footer class="footer">

  
  <nav>
    <ul>

      <li><%= image_tag("MemosTonight.png", class: 'logo') %></li>
    </ul>
  </nav>
  <small>
   <p>&copy; 2018 Memos Tonight.com<p>
  </small>

</footer>
